.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 900;
  font-style: italic;
}
table{
	background-color:#ffaacc;
	width:10%;
}
td, th{
	border:1px solid black;
	text-align:left;
	padding:10px;
}