body{
	background-color:#ccccff;
	padding:0px;
}
.intro{
	background-color:#ff0000;
}
#notIntro{
	background-color:#ffcccc;
	height: 200px;
}
#right_nav{
	
	
	top:30px;
	right:100px;
	float:right;
	width:72px;
	height:100px;
	padding:0;
	margin:0;
	border:5px solid pink;
}
#banner{
	width:90%;
	height:150px;
	margin:5px 0px 0px 60px;
	padding:4em;
	background-color:green;
	color:#333;
	border:4px solid blue;
	line-height:10%;
}

#content{
	background-color:#ffff00;
	float:left;
	margin:10px 0px 0px 50px;
	width:72%;
	height:100%;
	border: 3px solid magenta;
}
#menu_box{
	float:left;
	width:15%;
	height:100%;
	margin: 10px 0px 0px 60px;
	background-color:red;
	border:3px solid black;
}
