body{
	background-color:#ccccff;
}
/*
img{
	width:200px;	
}
div{
	background-color:yellow;
	border: 5px solid red;
	padding:40px;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	
}
.imgleft{
	float:left;
	margin-right:10px;
}
.imgright{
	float:right;
	margin-left:10px;
}
*/


.left{
	float:left;
}
.right{
	float:right;
}