/*css comment*/
/*h1{	
	color:black;
 }

body{
	color:red;
	}
#myid{
	color:blue;
	 }
.myclass{
	color:purple;
	    }

.myclass2{
	color:green;
	     }
	
span{
	color:blue;
	font-weight:1000;
	text-shadow:3px 3px orange;
	text-decoration-line:underline ;
	text-decoration-color:black;
	background-color:magenta;
	} */
.fontRed{
	color:red;
		}
span{
	color:olive;
	}
.fontBlue{
	color:blue;
}