

/*Default style*/
body{
	background-color:#ffcccc;
}
/*For tablets*/
@media only screen and (min-width:768px){
	body{
		background-color:#ccffcc;
	}
}
/*For Desktop*/
@media only screen and (min-width:1024px){
	body{
		background-color:#ccccff;
	}
}
